<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="VC">
        <video autoPlay loop muted src="../videos/video.mp4" type='video/mp4'></video>
    </div>
    <div class="content">
        <form class="box" action="#" method="GET">
            <h1>Login</h1>
            <input type="text" name="" placeholder="Email address">
            <input type="password" name="" placeholder="password">
            <div class="checkWrapper">
                <input type="checkbox" id="check">
                <label form="check">Remember me</label>
            </div>
            <input type="submit" name="" value="Login">
            <h3>OR</h3>
            <div class="Icon">
                <a href="#" title="Facebook">
                    <i class="fab fa-facebook-f"></i></a>
                <a href="#" title="twitter">
                    <i class="fab fa-twitter"></i></a>
                <a href="#" title="google">
                    <i class="fab fa-google-plus-g"></i></a>
                <a href="#" title="linkedin">
                    <i class="fab fa-linkedin-in"></i></a>
            </div>
            <a href="../components/PasswordReset.html">
                <h4>Forgot password</h4>
            </a>
            <div class="LR">
                <h5>Don't have an account?</h5>
                <a href="../components/Register.html">
                    <h5>Register</h5>
                </a>
            </div>
        </form>
    </div>

</body>
<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

</html>