<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="VC">
        <video autoPlay loop muted src="../videos/video.mp4" type='video/mp4'></video>
    </div>
    <div class="content">
        <form class="box" action="#" method="GET">
            <h1>Register</h1>
            <input type="text" name="" placeholder="Name">
            <input type="text" name="" placeholder="Email address">
            <input type="password" name="" placeholder="password">
            <input type="submit" name="" value="Register">
            <div class="LR">
                <h5>I have an account go </h5>
                <a href="../components/Login.html">
                    <h5>Login Page</h5>
                </a>
            </div>

    </div>

</body>


</html>