body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.VC {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

@keyframes transiticoin {
  from {
    height: 0%;
    opacity: 0;
  }
  to {
    opacity: 0.9;
    height: 100%;
  }
}
.content {
  animation: transiticoin 1s;
  height: 100%;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 100%;
}

@media all and (max-height: 520px) {
  .content {
    overflow-y: scroll;
  }
}

@media all and (max-width: 390px) {
  .content {
    overflow: scroll;
  }
}

.box {
  width: 200px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  background: #1b191b;
  border-radius: 24px;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin-bottom: 20px;
  align-self: center;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #5effff;
}

.box input[type="submit"] {
  border: 0;
  margin: 15px;
  background: none;
  display: block;
  align-self: center;
  text-align: center;
  border: 2px solid #5effff;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #5effff;
}

.checkWrapper {
  width: 140px;
  height: 0;
  position: absolute;
  margin: auto;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: none;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
}

input[type="checkbox"]::after {
  font-family: "Font awesome 5 free";
  font-weight: 900;
  content: "\f00c";
  font-size: 12px;
  color: #5effff;
  display: none;
}

input[type="checkbox"]:hover {
  background-color: white;
}

input[type="checkbox"]:checked:after {
  display: block;
}
.Icon {
  display: flex;
  flex-direction: row;
}

.LR {
  display: flex;
  flex-direction: row;
}

a {
  margin: auto;
  color: white;
  font-size: 14px;
}

h1 {
  color: #5effff;
  font-size: 50px;
  align-self: center;
  text-transform: uppercase;
  font-weight: 500;
}

h2 {
  color: #5effff;
  font-size: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;
  text-transform: uppercase;
  font-weight: 500;
}

h3 {
  margin-block-start: 0em;
}

h4 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
